#addUserButton {
    background-color: #0A8E62;
    color: white;
}
#addUserButton:hover {
    background-color: #20A378;
    color: white;
}
#addUserHeader {
    border: 0;
    padding-bottom: 0;
}
#addUserBody {
    text-align:center;
}
#addUserButtons {
    border: 0;
    padding-top: 0;
}
#email {
    width: 75%;
    display:inline-block;
}
#userLabel {
    display:inline-block;
    width:75%;
    text-align:left;
    margin: 0 auto;
}