#fabContainer, #fabButton, #fabNav{
    position: fixed;
}
#fabContainer {
    margin: auto;
    bottom: 120px;
    right: 20%;
}
#toggle {
    display: none;
}
#fabButton {
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: #333;
    background-image: url("../logo/icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.5);
    cursor: pointer;
}
#fabButton:hover {
    background-color: #0A8E62;
    background-image: url("../logo/icon-invert.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#fabNav {
    display:none;
    bottom: 120px;
    right: 20%;
    background-color: #333;
    width: 150px;
    border-radius: 5px;
    box-shadow: 2px 3px 10px 0 rgba(0,0,0, 0.3);
}
#fabNav a {
    text-align: center;
    display: block;
    margin: 0;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
#fabNav a:hover {
    background-color: #0A8E62;
}   