body {
  background-color: #dbf0ff;
}

/* About Us Jumbotron Styling */
.jumbotron {
  margin-top: 25px;
  background-color:#05305B;
  color: #FFFFFF;
}

/* Mission Statement and Introduction Styling*/
.intro {
  box-shadow: 0 0 20px silver;
  background-color: #FFFFFF;
  width:90%;
  margin:3% auto 5%;
}

.intro h1 {
  background: #67CAA9;
  color: #FFFFFF;
  padding: 15px 20px;
  margin: 0;
  font-size: 36px;
  text-align: center;
}

.intro p {
  font-size: 1.em;
  padding: 4%;
  text-align: left;
}

/* Team Member Section Styling */
.team {
  box-shadow: 0 0 20px silver;
  background-color: white;
  width:90%;
  margin:5% auto;
}

.team h1 {
  background: #67CAA9;
  color: #FFFFFF;
  padding: 15px 20px;
  margin: 0;
  font-size: 36px;
  text-align: center;
}

.profile h3 {
  text-align:center;
}

.profie p {
  text-align: left;
}

.profile img {
  display: block;
  margin: 0 auto;
}

.row {
  margin: 5%;
}

/* Style Both Intro and Team */
.container-fluid.intro,
.container-fluid.team {
  padding-right: 0px;
  padding-left: 0px;
}
