        /** Body CSS **/
        body {
        	background-color: #dbf0ff;
        }
        /** title jumbotron CSS **/
        .jumbotron {
            margin-top: 25px;
            text-align: center;
        }

        /** panel CSS **/
        .col-sm-4 {
            padding-right: 0px;
            padding-left: 0px;
        }
        .panel {
        	margin: 30px auto;
            border: none;
            width: 100%;
            border-radius: 3.5px;
            transition: box-shadow 0.2s;
            box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.3);
        }
        .panel-heading {
            background: #67CAA9;
            text-align: center;
            color: white;
        }
        .panel-body {
            background-color: #FFFFFF;
            min-height: 375px;
            text-align:center;
        }
        .panel-body p{
            text-align: left;
        }
        .panel-footer {
            background: #67CAA9;
            text-align: center;
        }

        /** learn more button CSS **/
        .lmorebtn {
            display: inline-block;
            text-align: center;
            background-color: transparent;
            color: white;
            border-radius:25px;
            border: solid white 2px;
            padding: 10px 20px;
            font-size: 1.2em;

        }
        .lmorebtn:hover {
            background-color: #3CB18B;
            border-color: white;
            color: white;
        }
        .card_one {
            width: 90%;
            background-color: white;
            padding-top: 0;
            padding-bottom: 20px;
            text-align:center;
            box-shadow: 0 0 20px silver;
        }

    @media(min-width:768px) {
        .panel {
            width: 90%;
        }
        .col-sm-4 {
            padding-right: 15px;
            padding-left: 15px;
        }
        .card_one {
            width: 80%;
        }
    }

