    body {
        background-color:#dbf0ff;
    }
    #content {
        padding-left:15px;
        padding-right:15px;
        margin-left:auto;
        margin-right:auto;
    }
    #content h2, #content ul, #fridgetabitems, #managetabhistory, #managetabuser {
        font-weight: bolder;
    }
    #fridgetabitems, #managetabhistory, #managetabuser {
        font-size: 18px;
    }
    #content ul {
        font-size: 20px;
    }
    #content h2 {
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    #managetab, #fridgetab {
        background-color:white;
    }
    label {
        display:block;
    }
    .tab-content {
        min-height:calc(100vh - 245px);
        border-left:1px solid #ddd;
        border-right:1px solid #ddd;
        border-top:1px solid #ddd;
        background-color:white;
    }
    #manage, #fridge {
        padding: 30px 15px 15px 15px;
    }
    #fridgeusers, #fridgeitems, #history {
        margin-left:20px;
        margin-right:20px;
    }
    #noFridgeDiv {
        text-align:center;
        margin-top:180px;
    }
    .deleteUser{
        background-color:white;
        background-image: url("../logo/delete.png");
        background-repeat: no-repeat;
        background-size: contain;
        width:40px;
        height:40px;
        margin: 0 10px;
    }
    .passAuthority{
        background-color:white;
        background-image: url("../logo/transfer.png");
        background-repeat: no-repeat;
        background-size: contain;
        width:40px;
        height:40px;
        margin: 0 10px;
    }
    .fridgeusers, .fridgeitems {
        margin: 5px 0;
        vertical-align: middle;
        line-height:40px;
    }
    .fridgeitems div {
        border-radius:10px;
    }
    .itemname {
        margin-left: 25px;
    }
    .history {
        margin: 5px 0;
        height: 40px;
        vertical-align: middle;
        line-height:40px;
    }
    #managetabuser {
        margin-top: 40px;
    }
    hr {
        margin-top:0;
        margin-bottom:0;
        margin-left:auto;
        margin-right:auto;
        width:90%;
    }
    #addFridgeButton {
        background-color: #0A8E62;
        color: white;
    }
    #addFridgeButton:hover {
        background-color: #20A378;
        color: white;
    }
    #deleteFridgeButton:hover, #leaveFridgeButton:hover {
        background-color: #f28f8c;
        color: white;
    }
    #deleteFridgeButton, #leaveFridgeButton {
        background-color: #e56a64;
        color: white;
        margin-top:40px;
    }
    #addUserButton, #addItemButton {
        margin-top:20px;
    }
    #deleteFridgeHeader {
        border: 0;
        padding-bottom: 0;
    }
    #deleteFridgeBody {
        text-align:center;
    }
    #deleteFridgeButtons {
        border: 0;
        padding-top: 0;
    }
    #leaveFridgeHeader {
        border: 0;
        padding-bottom: 0;
    }
    #leaveFridgeBody {
        text-align:center;
    }
    #leaveFridgeButtons {
        border: 0;
        padding-top: 0;
    }
    #itemHeader {
        border: 0;
        padding-bottom: 0;
    }
    #itemButtons {
        border: 0;
        padding-top: 0;
    }
    #addFridgeModal .modal-dialog, #addUserModal .modal-dialog, #addItemModal .modal-dialog, #deleteFridgeModal .modal-dialog, #leaveFridgeModal .modal-dialog, #itemModal .modal-dialog {
        margin-top:100px;
    }
    #itemTable {
        width:100%;
    }
    #itemTable tr {
        width:25%;
    }
    #itemTable td {
        width:75%;
    }
    @media(min-width:768px) {
        #content {
            width:60%;
            margin-left:auto;
            margin-right:auto;
        }
        #manage, #fridge {
            padding: 50px 60px 30px 60px;
        }
        #fridgeusers, #fridgeitems, #history {
            margin-left:70px;
            margin-right:70px;
        }
    }