body {
  background-color: #e3e3e3;
}

/* Heading Screen */
.jumbotron {
  background-color: black;
  margin:0;
  padding: 120px 25px;
  color: white;
}

/*FAQ Section*/
.faq {
  background-color: #FAFAFA;
}

.panel-default>.panel-heading {
  background-color: #05305B;
  color: white;
}

.panel-heading a {
  text-decoration: none;
}

.panel-group .panel+.panel {
  margin:0;
}

/*Contact Us Section */
.contactus {
  background-color: #FAFAFA;
  padding-bottom: 4%;
}

.contactus-container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contactus-container h3 {
  border-bottom: 1px solid black;
  width:85%;
  margin-top: 10px;
}

.contactus-text {
  padding: 3% 0%;
  font-size: 1.1em;
}

.contact-spacer {
  margin-top:10%;
}

/* FAQ Section and Contact Us Section */
.faq ,
.contactus {
  margin: 5% auto;
  width: 80%;
}

.faq h1 ,
.contactus h1 {
  background: #20A378;
  background: linear-gradient(to bottom, #20A378, #026F4B);
  color: white;
  padding: 0% 2%;
  margin:0;
}

/*Form */
#feedback_form {
  margin: auto;
  width: 90%;
}

fieldset {
    padding: .35em .625em .75em;
    margin: auto;
    border: 1px solid silver;
}

legend {
  border: none;
  width: auto;
  margin-left: 3%;
  font-size: 1.3em;
}

/* Validation Color */
.error {
  color:#FF0000;
}

/* Contact Us and Form Rows */
.row {
  margin: 3%;
}

/* Adjust Form and Contact Us based on Screen Size*/
@media (min-width: 1000px) {
    fieldset {
      max-width: 60%;
    }
}
